/* Index settings */
.cards{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    background-color: var(--color-primary);
    text-decoration: none;
}
.card:hover{
    background-color: var(--color-text);
}