<div>
    <a href="{% url 'contact' letter='a' %}">A</a>
    <a href="{% url 'contact' letter='b' %}">B</a>
    <a href="{% url 'contact' letter='c' %}">C</a>
    <a href="{% url 'contact' letter='d' %}">D</a>
    <a href="{% url 'contact' letter='e' %}">E</a>
    <a href="{% url 'contact' letter='f' %}">F</a>
    <a href="{% url 'contact' letter='g' %}">G</a>
    <a href="{% url 'contact' letter='h' %}">H</a>
    <a href="{% url 'contact' letter='i' %}">I</a>
    <a href="{% url 'contact' letter='j' %}">J</a>
    <a href="{% url 'contact' letter='k' %}">K</a>
    <a href="{% url 'contact' letter='l' %}">L</a>
    <a href="{% url 'contact' letter='m' %}">M</a>
    <a href="{% url 'contact' letter='n' %}">N</a>
    <a href="{% url 'contact' letter='ñ' %}">ñ</a>
    <a href="{% url 'contact' letter='o' %}">O</a>
</div>