
{% extends "layout/base.html" %}

{% block 'title' %}Editar todoo {% endblock  %}


{% block 'styles' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/why.css' %}">
    <link rel="stylesheet" href="{% static 'css/estres.css' %}">
{% endblock %}
    

{% block 'content' %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert-sucess"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
     

<span class="aux-btnsform" ><a href="{% url 'todo' %}">Volver Atrás</a></span>
<form action="{% url 'todo_edit' id=id %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}

    </table>
    <div class="btn-wrapper">
        <input type="submit" value="Enviar" class="btn-send">

    </div>
    
</form>

{% endblock  %}





