*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background: aquamarine;
}
ul{

    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    padding: 20px;
}

ul li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 85vh;
}
footer{
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}