<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatico</title>
</head>
<body>
    <p>Hola mundo</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos dolor laborum rem quia nemo repellendus sed nam mollitia consequuntur enim suscipit at, blanditiis natus distinctio totam exercitationem, inventore alias.</p>
    <a href="saludo/">Prueba</a>
</body>
</html>